{% extends 'Configuration.twig' %}

{% block configuration_center %}
    <form id="configuration-form" method="POST" action="{{ UriGenerator.generate('installation-configuration') }} }}">
        {% include 'general/form/formgroup.twig'
        with {'name': 'error_manager'} %}
        {% include 'general/form/formgroup.twig'
        with {'name': 'debug'} %}
        {% include 'general/form/formgroup.twig'
        with {'name': 'debug_i18n'} %}
        {% include 'general/form/formgroup.twig'
        with {'name': 'debug_l10n'} %}
    </form>
{% endblock %}