<div class="formgroup {% if ('checkbox' == FormInput.convertToInputType([report.getSchemeData(name).type])) %}col-12{% else %}col-24{% endif %}">
    <div class="col-10">
        <label class="col-24" for="{{ report.getItemName(name) }}">{{ report.getItemName(name) }}</label>
        <div class="col-24 description">
            {{ report.getSchemeData(name).description }}
        </div>
    </div>
    <div class="col-12">
        <div class="col-24">
            <input
                    type="{{ FormInput.convertToInputType([report.getSchemeData(name).type]) }}"
                    name="{{ report.getItemName(name) }}"
                    id="{{ report.getItemName(name) }}"
                    placeholder="{{ report.getSchemeData(name).default }}"
                    data-default="{{ report.getSchemeData(name).default }}"
                    data-description="{{ report.getSchemeData(name).description }}"/>
        </div>
    </div>
    <div class="col-2">
        <div class="input-default-toggle" data-toggle="input-default"></div>
    </div>
</div>