<div class="row">
    FloodInstallation - <a href="https://help.flood.bemit.eu">help</a>
</div>
<div class="row copyright">
    <span>&copy; 2016 - 2017 </span><a class="bemit_homelink" href="https://bemit.eu">bemit UG (haftungsbeschränkt)</a>
</div>