<div class="head-logo row">
    <a class="col-6 col-sm-2 gutter-thinner" href="http://bemit.eu/Flood" target="_blank"><img src="{{ CDN.get('flood-logo') }}"/></a>
    <div class="col-18 col-sm-20 flood-name gutter-thinner"><span>Flood</span>&nbsp;&nbsp;an Engine for Web and Dev</div>
</div>