<meta charset="UTF-8"/>
<title>FloodInstallationTitletag</title>
<meta name="author" content="FloodInstallationMetaAuthor"/>
{% if Config.debug() %}
    <link href="{{ CDN.get(':~:CDN:style.css') }}" rel="stylesheet" type="text/css"/>
{% else %}
    <link href="{{ CDN.get(':~:CDN:style.min.css') }}" rel="stylesheet" type="text/css"/>
{% endif %}
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">