<!DOCTYPE html>
<html>
<head>
    {% include('general/head.twig') %}
</head>
<body class="body">
<div class="container">
    <div class="row">
        <section class="container-inner col-24">
            <header class="header">{% include('general/header.twig') %}</header>
            <aside class="sidebar">
                {% block left_sidebar %}{% endblock %}
            </aside>
            <main class="content">
                {% block middle_content %}{% endblock %}
            </main>
            <aside class="sidebar">
                {% block right_sidebar %}{% endblock %}
            </aside>
            <section class="progress-bar">
                {% for progress_item in progess_items %}
                    <span>{{ progress_item }}</span>
                {% endfor %}
                {% block progress_bar %}{% endblock %}
            </section>
            <footer class="footer">
                {% include('general/footer.twig') %}
            </footer>
        </section>
    </div>
</div>
<script type="text/javascript" src="{{ CDN.get(':~:CDN:js.js') }}"></script>
</body>
</html>