{% extends 'general/index.twig' %}

{% block left_sidebar %}
{% endblock %}

{% block middle_content %}
    <div class="configuration row">
        <div class="col-24">
            <h1>FloodInstallationConfigurationH1</h1>
            <h2>FloodInstallationConfigurationH2</h2>
        </div>

        {% block configuration_center %}
        {% endblock %}

        <a href="{{ t_next_href }}" class="btn">T_Next</a>
    </div>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block progress_bar %}
{% endblock %}