{% extends "general/index.twig" %}

{% block left_sidebar %}
{% endblock %}

{% block middle_content %}
    <div class="factory-test row">
        <div class="col-24">
            This is a template which is automatically displayed by the FloodInstallation Demo View Factory Class;
        </div>
    </div>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block progress_bar %}
{% endblock %}