{% extends "general/index.twig" %}

{% block left_sidebar %}
{% endblock %}

{% block middle_content %}
<div class="language-select row">
    <a class="col-md-8 col-sm-12 col-24 de" href="{{ UriGenerator.generate('installation-licence','de-DE') }}"><img class="Flag-German" src="{{ CDN.get(':~:CDN:img/icon/Flag-German.svg') }}" alt="German Flag"/>
        <div class="text">FloodInstallationDiveGermanIntro</div>
    </a>
    <a class="col-md-8 col-sm-12 col-24 en" href="{{ UriGenerator.generate('installation-licence','en-US') }}"><img class="Flag-USA" src="{{ CDN.get(':~:CDN:img/icon/Flag-USA.svg') }}" alt="German Flag"/>
        <div class="text">FloodInstallationDiveEnglishIntro</div>
    </a>
    <a class="col-md-8 col-sm-12 col-24 en" href="{{ UriGenerator.generate('installation-licence','fr-FR') }}"><img class="Flag-France" src="{{ CDN.get(':~:CDN:img/icon/Flag-France.svg') }}" alt="German Flag"/>
        <div class="text">FloodInstallationDiveFrenchIntro</div>
    </a>
</div>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block progress_bar %}
{% endblock %}