{% extends "general/index.twig" %}

{% block left_sidebar %}
{% endblock %}

{% block middle_content %}
    <div class="licence row">
        <div class="col-24">
            <h1>FloodInstallationLicenceH1</h1>
            <h2>FloodInstallationLicenceH2</h2>
        </div>

        <div class="item col-24">
            <div class="head">FloodInstallationLicenceFileBasic</div>
            <div class="content">{{ CDN.include(I18n.translate('FloodInstallationLicenceFileBasic'))['content']|nl2br }}</div>
        </div>
        <div class="item col-24">
            <div class="head">FloodInstallationLicenceFileLgpl</div>
            <div class="content">{{ CDN.include(I18n.translate('FloodInstallationLicenceFileLgpl'))['content']|nl2br }}</div>
        </div>
        <div class="item col-24">
            <div class="head">FloodInstallationLicenceFileCecillc</div>
            <div class="content">{{ CDN.include(I18n.translate('FloodInstallationLicenceFileCecillc'))['content']|nl2br }}</div>
        </div>
        <form action="{{ UriGenerator.generate('installation-licence') }}" method="post" class="col-24">
            <input type="checkbox" name="accept-licence" required/>
            <button type="submit" id="berechnen">FloodInstallationLicenceAccept</button>
        </form>
    </div>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block progress_bar %}
{% endblock %}